<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Blog Show Page</h1>
        Username: <%=blog.name%>
        <br>
        Topic:  <%=blog.topic%>.
        <br>
        <img src="<%=blog.img%>" height="400px" width="400px">
        <!-- <script >
          $url_string="https://www.youtube.com/watch?v=XN7Amgdfi0s&list=PLiN3D25j-z1SbvSCeZZzrmzh_1HhhBnRu&index=32";
          $url= str_replace('watch?v=','embed/', $url_string);
        </script> -->

          <iframe width="560" height="315" src="https://www.youtube.com/embed/GnV0HAePvAQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<iframe width="560" height="315" src="https://www.youtube.com/embed/XN7Amgdfi0s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <h3>Blogged</h3>
        <textarea name="blog" rows="8" cols="80"><%=blog.blog%></textarea>
        <br>

        <form action="/blogs/<%=blog.id%>" method="POST">
          <div >

            <input type="submit" value="Comment" />
            Comment: <input type="text" name="comment" />
          </div>
          <br/>
        </form>

        <div>


          Comment:  <%=blog.comment%>


        </div>

        <nav>
            <a href="/blogs">Back to Blogs Index</a>
        </nav>
    </body>
</html>
